
@{
    ViewData["Title"] = "Privacy";
}

<div class="align-content-center">
    <img src="https://media.discordapp.net/attachments/715207453436018688/840325604050206730/bV8Vp2bKn1o.png?width=595&height=523" />
</div>
